<h1>Welcome</h1>
<% if logged_in? %>

    <h2>You are Logged In, <%= current_user.username %></h2>
<%end%>
<header>
<p>
<%= button_to "Login", '/login', method: :get%>
<%= button_to "Sign Up", '/signup', method: :get%>
<%= button_to "Logout", '/logout', method: :delete%>

<%= link_to "vehicle", '/vehicle'  %> 
</p>
</header>