<h1>Welcome</h1>
<% if logged_in? %>
You are already logged in would you like to go to your homepage
<%= button_to "Homepage", user_path(current_user.id), method: :get%>
<%end%>


<%= button_to "Login", '/login', method: :get%>
<%= button_to "Sign Up", '/signup', method: :get%>
<%= button_to "Logout", '/logout', method: :delete%>
<%=link_to "Sign up or login with Github", "/auth/github"%>


