
<h1> Sign Up </h1>
<%= form_for @user, html: { autocomplete: 'off' } do |f|%>
    <%= render 'layouts/errors', object: f.object %>
   Username:
    <%= f.text_field :username %>
  
Email:
    <%= f.text_field :email %>
    
   Password:
    <%= f.password_field :password %>
    Password Confirmation:
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Sign Up" %>
<%end%>