
<h1> Sign Up </h1>
<%= form_for @user do |f|%>
    <%= render 'layouts/errors', object: f.object %>
   Username:
    <%= f.text_field :username %>
  
Email:
    <%= f.text_field :email %>

   Password:
    <%= f.password_field :password %>
    <%= f.submit "Sign Up" %>
<%end%>