Welcome to your move atlas <%= current_user.username %> !
<br>
<h3> Reviews: </h3>
<% current_user.reviews.each.with_index(1) do |review, i| %>
<%= "#{i}" %> <b>Vehicle:</b> <%= link_to review.vehicle.plate_number, behicle_path(review.vehicle) %><br>
<ul>
          <li><b>Review:</b> <%= review.customer_experience_rating%>
            Posted: <%= review.created_at %><br>
        </ul>
        <% if current_user == review.user %>
        <%= link_to "edit", edit_user_review_path(current_user, review)  %> 
        <%= link_to "delete", user_review_path(current_user, review), method: :delete %><br>
        <br>
        <br>
        <% end %>
      <% end %>