<%=render "shared/nav"%>
<h2> Clean Vehicles </h2>
<% @clean_vehicles.each do |vehicle| %>

  <br>
  Vehicle: <%=vehicle.plate_number%>
  <br>
  Rented From:</b> <%= vehicle.company_name %>
  <br>
  On: <%= vehicle.pick_up_date %>
  <br>
  <%end%>
  
    <h2> Infested Vehicles </h2>
    
     <% @infested_vehicles.each do |vehicle| %>
        
        <br>
      Vehicle: <%=vehicle.plate_number%>
      <br>
        From:</b> <%= vehicle.company_name %>
         <br>
      Infested with: </b> <%= vehicle.bug_type %>
        <br>
        On: <%= vehicle.pick_up_date %>
        <br>
     <% end %>

<br>
<%= link_to "Add New Vehicle", new_vehicle_path %>
