<%= render "shared/nav" %>
<h1> Update vehicle </h1>
<%= form_for @vehicle do |vehicle| %>
  <%= render "layouts/errors", object: vehicle.object %>
    <%= vehicle.label :plate_number %>
    <%= vehicle.text_field :plate_number %>
  <br>
    <%= vehicle.label :plate_state %>
    <%= vehicle.text_field :plate_state %>
    <br>
    <%= vehicle.label :vehicle_type %>
    <%= vehicle.text_field :vehicle_type %>
    <br>
    <%= vehicle.label :pick_up_date %>(YYYY-MM-DD)
    <%= vehicle.text_field :pick_up_date %>
    <br>
    What rental company did you use?
    <%= vehicle.text_field :company_name %>
    <br>
    Do you suspect this vehicle of having bugs? 
    <%= vehicle.check_box :status %>
    <br>
    <%= vehicle.label :bug_type %>
    <%= vehicle.text_field :bug_type %>
    <br>
  
    <%= vehicle.submit %>
    <% end %>
   
