<%= button_to "Homepage", user_path(current_user.id), method: :get%>
<h1> All vehicles </h1>
 <h2> Clean Vehicles </h2>
 <% @clean_vehicles.each do |vehicle| %>
  <ul>
    <li><h4><b>License Plate: <%=  vehicle.plate_number%></h4>From:</b> <%= vehicle.company_name %></li>
    <%vehicle.users.each do |user|%>
      Created by: <%=user.username%>
      <% end %>
  </ul>
  <% end %>
 
  <h2> Infested Vehicles </h2>
  <% @infested_vehicles.each do |vehicle| %>
    <ul>
      <li><h4><b>License Plate: <%=  vehicle.plate_number %></h4>From:</b> <%= vehicle.company_name %></li>
      <%vehicle.users.each do |user|%>
       Created by: <%=user.username%>
       <% end %>
    </ul>
    <% end %>
    
<br><%= link_to "Add New Vehicle", new_vehicle_path %>

