<%=render "shared/nav"%>
<h1> Your vehicles </h1>

<h2> Clean Vehicles </h2>
<% @clean_vehicles.each do |vehicle| %>
  Vehicle Type: <%=vehicle.vehicle_type%>
  <br>
  Vehicle Plate: <%= link_to vehicle.plate_number, vehicle_path(vehicle)%>
  <br>
  From:</b> <%= vehicle.company_name %>
  <br>
  
  <br>
  <%end%>
  
    <h2> Infested Vehicles </h2>
    
     <% @infested_vehicles.each do |vehicle| %>
      Vehicle Type: <%=vehicle.vehicle_type%>
      <br>
      Vehicle: <%= link_to vehicle.plate_number,vehicle_path(vehicle)%>
      <br>
        From:</b> <%= vehicle.company_name %>
         <br>
      Infested with: </b> <%= vehicle.bug_type %>
        <br>
        <br>
       
       <% end %>
       <%= link_to "Add New Vehicle", new_vehicle_path %>
       



