<%= render "shared/nav" %>
<u><h1> Your vehicle Reviews </h1></u>

<h2> Clean Vehicles </h2>
<% @clean_vehicles.each do |vehicle| %>
  Vehicle Plate: <%= link_to vehicle.plate_number, vehicle_path(vehicle) %>
  <br>
  Rented From:</b> <%= vehicle.company_name %>
  <br>
  On: <%= vehicle.pick_up_date %>
  
  <br>
  
  <br>
  <% end %>
  
<h2> Infested Vehicles </h2>
    
     <% @infested_vehicles.each do |vehicle| %>
  
      Vehicle Plate: <%= link_to vehicle.plate_number, vehicle_path(vehicle) %>
      <br>
      Rented From:</b> <%= vehicle.company_name %>
      <br>
      On: <%= vehicle.pick_up_date %>
      <br>
      Infested with: </b> <%= vehicle.bug_type %>
        <br>
        <br>
       
       <% end %>
   
       



