<%= button_to "Homepage", user_path(current_user.id), method: :get%>
<h1> All vehicles </h1>


 <h2> Clean Vehicles </h2>
 <% @clean_vehicles.each do |vehicle| %>
   <%vehicle.users.each do |user|%>
    <%if user.id == current_user.id%>
    License Plate: <%= link_to vehicle.plate_number, vehicle_path(vehicle) %>
    <br>
    </h4>From:</b> <%= vehicle.company_name %>
    <br>
  Created by: <%=user.username%>
<%else%>
  License Plate: <%=  vehicle.plate_number%>
  <br>
  </h4>From:</b> <%= vehicle.company_name %>
  <br>
      </h4>From:</b> <%= vehicle.company_name %>
      <% end %>
      <% end %>
      <% end %>
 
  <h2> Infested Vehicles </h2>
  <% @infested_vehicles.each do |vehicle| %>
      <%vehicle.users.each do |user|%>
        <%if user.id == current_user.id%>
        License Plate: <%= link_to vehicle.plate_number, vehicle_path(vehicle) %>
        <br>
      Created by: <%=user.username%>
      <br>
      <br>
    <%else%>
      License Plate: <%=  vehicle.plate_number%>
      <br>
      </h4>From:</b> <%= vehicle.company_name %>
      <br>
      </h4>Infested with: </b> <%= vehicle.bug_type %>
      <br>
      Created by: <%=user.username%>
      <% end %>
      <% end %>
      <% end %>
      <br>
      <br>
<%= link_to "Add New Vehicle", new_vehicle_path %>

