<%= render "shared/nav" %>

<h2> Find Reviews by Category </h2>
<%= link_to "Your vehicles", vehicles_path(:category => "yours") %>
<%= link_to "All vehicles", vehicles_path(:category => "all") %>
<%= link_to "Clean vehicles", vehicles_path(:category => "clean") %>
<%= link_to "Infested vehicles", vehicles_path(:category => "infested") %>

<h2> search by rental company </h2>
 <%= form_tag("/vehicles", method: :get) do %>
  <%= label_tag("Search:")%>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Submit") %>
  <% end %>
<h2>  Vehicles </h2>
    
     <% @vehicles.each do |vehicle| %>
  
      Vehicle Plate: <%= link_to vehicle.plate_number, vehicle_path(vehicle) %>
      <br>
      Rented From:</b> <%= vehicle.company_name %>
      <br>
      On: <%= vehicle.pick_up_date %>
      <br>
      Infested with: </b> <%= vehicle.bug_type %>
        <br>
        <br>
       
       <% end %>
   
       



