<%= button_to "Homepage", user_path(current_user.id), method: :get%>
<h1> All vehicles </h1>



<h2> Clean Vehicles </h2>
<% @clean_vehicles.each do |vehicle| %>
  <br>
  Vehicle: <%= link_to vehicle.plate_number, vehicle_path(vehicle)%>
  <br>
  From:</b> <%= vehicle.company_name %>
  <br>
  License Plate: <%= vehicle.plate_number %>
  <br>
  <%end%>
  
    <h2> Infested Vehicles </h2>
    
     <% @infested_vehicles.each do |vehicle| %>
      Vehicle: <%= link_to vehicle.plate_number,vehicle_path(vehicle)%>
      <br>
        From:</b> <%= vehicle.company_name %>
         <br>
      Infested with: </b> <%= vehicle.bug_type %>
        <br>
        <br>
     <% end %>

    
    


<br>
<%= link_to "Add New Vehicle", new_vehicle_path %>

