<h1> New vehicle </h1>
<%= form_for @vehicle do |vehicle| %>
    <%=vehicle.label :plate_number%>
    <%=vehicle.text_field :plate_number %>
  
    <%=vehicle.label :plate_state%>
    <%=vehicle.text_field :plate_state%>

    <%=vehicle.label :vehicle_type%>
    <%=vehicle.text_field :vehicle_type%>

    <%=vehicle.label :pick_up_date%>
    <%=vehicle.text_field :pick_up_date%>

    <%=vehicle.label :company_name%>
    <%=vehicle.text_field :company_name%>

    <%=vehicle.label :status%>
    <%=vehicle.text_field :status%>

    <%=vehicle.label :bug_type%>
    <%=vehicle.text_field :bug_type%>

    <%end%>
    <%=vehicle.submit%>
    <%end%>
   
   
  
    
