
<%=render "shared/nav"%>
<h3> Reviews: </h3>
<% @reviews.each do |review| %>
    <% if review.vehicle.present?  %>
    <%=  %>  <b>Vehicle:</b> <%= link_to review.vehicle.plate_number, vehicle_path(review.vehicle) %><br>
<ul> 
          <li><b>Review:</b> Vehicle Experience Rating: <%= review.customer_experience_rating%>
           <br>
           Customer Support Rating: <%= review.customer_service_rating%>
           <br>
           Overall Rating: <%=  review.customer_service_rating +  review.customer_experience_rating%>/20
           <br>
         Posted: <%= review.created_at %><br>
        </ul>
         Reviewed by: <%=  review.user.username   %>
        <br>
        
        <% if review.user == current_user %>
        <%= link_to "edit", edit_vehicle_review_path(review.vehicle, review)  %> 
        <%= button_to "delete", vehicle_review_path(review.vehicle, review), method: :delete %><br>
        <% end %>
        <% end %>
        <% end %>
        
        